$default-bg: white;
$default-text: black;

body {
  background-color: #000000;
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;;
  font-size: 1em;
  font-weight: bold;
  text-align:center;
}

/**/

.node-detail-container {
  position: fixed;
  top: 800px;
  left: 20px;
  color: #fff;
  text-align: left;
  width: 300px;
  background: linear-gradient(to bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,.3) 100%);
  z-index: 9999 !important;
}

.header {
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
  padding: 10px;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
}
